

.persona {
  width               : 100%;
  min-width           : 1360px;
  height              : 100vh;
  min-height          : 800px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.persona .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : -243px;
  height              : 1281px;
  width               : 1865px;
  position            : absolute;
  margin              : 0;
  left                : -253px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.persona .rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 800px;
  width               : 639px;
  position            : absolute;
  margin              : 0;
  left                : 401px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.persona .rectangle4 {
  background-color    : rgba(252, 252, 252, 1.0);
  top                 : 161px;
  height              : 160px;
  width               : 639px;
  position            : absolute;
  margin              : 0;
  left                : 401px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.persona .rectangle4copy {
  background-color    : rgba(252, 252, 252, 1.0);
  top                 : 640px;
  height              : 160px;
  width               : 639px;
  position            : absolute;
  margin              : 0;
  left                : 401px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.persona .u201cu73b0u5728u7684u5546u4e1au7efcu5408u4f53u90fdu8bb2u7a76u667au80fdu5316uff0cu5982u679cu8fd9u4e2a {
  background-color    : rgba(255,255,255,0.0);
  top                 : 705px;
  height              : auto;
  width               : 488px;
  position            : absolute;
  margin              : 0;
  left                : 480px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Light", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(43, 43, 43, 1.0);
  text-align          : justify;
  line-height         : 20.0px;
}
.persona .rectangle3 {
  background-color    : rgba(245, 246, 246, 1.0);
  top                 : 322px;
  height              : 318px;
  width               : 319px;
  position            : absolute;
  margin              : 0;
  left                : 399px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.persona .u67e5u770bu5404u5546u94fau7684u8425u4e1au62a5u8868u53efu4ee5u66f4u7b80u5355uff1b {
  background-color    : rgba(255,255,255,0.0);
  top                 : 416px;
  height              : auto;
  width               : 215px;
  position            : absolute;
  margin              : 0;
  left                : 467px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Light", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(43, 43, 43, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.persona .u4f4eu9ad8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 419px;
  height              : 161px;
  width               : 57px;
  position            : absolute;
  margin              : 0;
  left                : 813px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.persona .u4f4eu9ad8 .u4f4e {
  background-color    : rgba(255,255,255,0.0);
  top                 : 105px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(253, 111, 114, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.persona .u4f4eu9ad8 .u4e2du7b49 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 70px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 28px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(253, 111, 114, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.persona .u4f4eu9ad8 .u9ad8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 35px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Semibold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(253, 111, 114, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.persona .u4f4eu9ad8 .u5f88u9ad8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(147, 147, 147, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.persona .u4f4eu9ad8 .a1u5f88u4f4e {
  background-color    : rgba(255,255,255,0.0);
  top                 : 141px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(253, 111, 114, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.persona .u4f4eu9ad8 .a2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 105px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(253, 111, 114, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.persona .u4f4eu9ad8 .a3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 70px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(253, 111, 114, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.persona .u4f4eu9ad8 .a4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 35px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Semibold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(253, 111, 114, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.persona .u4f4eu9ad8 .a5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(147, 147, 147, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.persona .u5708u5708 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 422px;
  height              : 155px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 770px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.persona .u5708u5708 .line2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 126px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.persona .u5708u5708 .oval2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 28px;
  height              : 29px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.23;
}
.persona .u5708u5708 .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 140px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.persona .u5708u5708 .ovalcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 105px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.persona .u5708u5708 .ovalcopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 70px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.persona .u5708u5708 .ovalcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 35px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.persona .u5708u5708 .ovalcopy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.42;
}
.persona .u9700u8981u5ea6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 367px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 778px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Semibold", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(43, 43, 43, 1.0);
  text-align          : left;
  line-height         : 25.0px;
}
.persona .rectangle2copy {
  background-color    : rgba(54, 54, 54, 1.0);
  top                 : 320px;
  height              : 480px;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 1040px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.persona .rectangle2 {
  background-color    : rgba(219, 105, 108, 1.0);
  top                 : 0px;
  height              : 320px;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 1040px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.persona .u63d0u9ad8u5546u94fau7684u7ba1u7406u6548u7387uff0cu8282u7ea6u65f6u95f4uff1bu4f18u5316u7247u533a {
  background-color    : rgba(255,255,255,0.0);
  top                 : 86px;
  height              : auto;
  width               : 226px;
  position            : absolute;
  margin              : 0;
  left                : 1086px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  line-height         : 20.0px;
}
.persona .u62c5u5fc3u7ecfu8d39u8fc7u9ad8uff0cu56deu62a5u5468u671fu8fc7u957fuff1bu6570u636eu7684u51c6u786e {
  background-color    : rgba(255,255,255,0.0);
  top                 : 400px;
  height              : auto;
  width               : 226px;
  position            : absolute;
  margin              : 0;
  left                : 1086px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : justify;
  line-height         : 20.0px;
}
.persona .u76eeu7684 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 365px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 479px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Semibold", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(43, 43, 43, 1.0);
  text-align          : left;
  line-height         : 25.0px;
}
.persona .u5fc3u6001 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 671px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 479px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Semibold", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(43, 43, 43, 1.0);
  text-align          : left;
  line-height         : 25.0px;
}
.persona .u963bu529b {
  background-color    : rgba(255,255,255,0.0);
  top                 : 354px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1086px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Semibold", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 25.0px;
}
.persona .u6307u6807 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 263px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 479px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Semibold", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(43, 43, 43, 1.0);
  text-align          : left;
  line-height         : 25.0px;
}
.persona .u8d1fu8d23u5546u94fau7684u4e1au7ee9u8003u6838u7247u533au4e1au52a1u8c03u6574 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 189px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 647px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Light", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(43, 43, 43, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.persona .u804cu80fd {
  background-color    : rgba(255,255,255,0.0);
  top                 : 187px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 479px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Semibold", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(43, 43, 43, 1.0);
  text-align          : left;
  line-height         : 25.0px;
}
.persona .u5f20u5143u4eceu4e8bu5546u4e1au7efcu5408u4f53u7684u7ecfu8425u5df2u6709u5341u5e74u7684u7ecfu9a8cuff0c {
  background-color    : rgba(255,255,255,0.0);
  top                 : 77px;
  height              : auto;
  width               : 521px;
  position            : absolute;
  margin              : 0;
  left                : 480px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Light", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(43, 43, 43, 1.0);
  text-align          : justify;
  line-height         : 20.0px;
}
.persona .u80ccu666f {
  background-color    : rgba(255,255,255,0.0);
  top                 : 36px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 479px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Semibold", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(43, 43, 43, 1.0);
  text-align          : left;
  line-height         : 25.0px;
}
.persona .u52a8u56e0 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 36px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1086px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Semibold", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 25.0px;
}
.persona .u201c {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 441px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.4;
  font-family         : "ArialHebrew-Bold", Helvetica, Arial, serif;
  font-size           : 100.0px;
  color               : rgba(249, 106, 110, 1.0);
  text-align          : center;
  line-height         : 107.0px;
}
.persona .u201ccopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 647px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 441px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.4;
  font-family         : "ArialHebrew-Bold", Helvetica, Arial, serif;
  font-size           : 100.0px;
  color               : rgba(159, 158, 158, 1.0);
  text-align          : center;
  line-height         : 107.0px;
}
.persona .rectangle1 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 800px;
  width               : 401px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.77;
}
.persona .casualcuteeyeglasses1752126 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -2px;
  height              : 801px;
  width               : 403px;
  position            : absolute;
  margin              : 0;
  left                : -2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.persona .rectangle5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 588px;
  height              : 212px;
  width               : 399px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.persona .a36u5546u573au4e1au52a1u7ecfu7406 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 659px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 133px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Medium", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.persona .u676du5ddeuff0cu4e2du56fd {
  background-color    : rgba(255,255,255,0.0);
  top                 : 701px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 154px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Medium", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 26.0px;
}
.persona .u5f20u5143 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 591px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 138px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Medium", Helvetica, Arial, serif;
  font-size           : 49.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 69.0px;
}
.persona .u96f6u552eu4e1a10u5e74u7ecfu9a8c {
  background-color    : rgba(255,255,255,0.0);
  top                 : 726px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 134px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Medium", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 26.0px;
}
.persona .case {
  background-color    : rgba(255,255,255,0.0);
  top                 : 187px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 439px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.persona .stats {
  background-color    : rgba(255,255,255,0.0);
  top                 : 265px;
  height              : 23px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 439px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.persona .idea {
  background-color    : rgba(255,255,255,0.0);
  top                 : 366px;
  height              : 25px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 439px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.persona .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 238px;
  height              : 3px;
  width               : 560px;
  position            : absolute;
  margin              : 0;
  left                : 440px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.persona .u7247u533au8425u4e1au989du4ebau6d41u91cfu70edu9500u5355u54c1u73afu6bd4u589eu91cf {
  background-color    : rgba(255,255,255,0.0);
  top                 : 268px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 647px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Light", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(43, 43, 43, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.persona .line3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 193px;
  height              : 12px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 779px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.persona .line3copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 272px;
  height              : 13px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 723px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.persona .line3copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 272px;
  height              : 13px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 778px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.persona .line3copy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 272px;
  height              : 13px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 848px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.persona .label1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 85px;
  height              : auto;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 1052px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Light", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : right;
  line-height         : 20.0px;
}
.persona .label2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 400px;
  height              : auto;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 1052px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "PingFangSC-Light", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : right;
  line-height         : 20.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}